<% if (upgrade) { %>
    <h1>
        <%= upgrade.title %>
    </h1>

    <img src="/images/upgrades/<%= upgrade.image %>" alt="<%= upgrade.title %>">

    <p>
        <%= upgrade.description %>
    </p>

    <button onclick="alert('Add to cart functionality coming soon!')">Add to Cart</button>

    <p><a href="/">Back to Home</a></p>
    <% } else { %>
        <p>Upgrade not found</p>
        <% } %>