<nav class="navbar">
    <button class="hamburger" id="hamburger" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="nav-menu" id="navMenu">
        <%- nav %>
    </div>
</nav>