<nav>
    <ul>
        <li>Home</li>
        <li><a href="/inv/type/Custom" title="View our custom inventory">Custom</a></li>
        <li>Sedan</li>
        <li>SUV</li>
        <li>Truck</li>
    </ul>
</nav>