<nav>
    <ul>
        <li><a href="/" title="Return to home page">Home</a></li>
        <li><a href="/inv/type/Custom" title="View our custom inventory">Custom</a></li>
        <li><a href="/inv/type/Sedan" title="View our sedan inventory">Sedan</a></li>
        <li><a href="/inv/type/SUV" title="View our SUV inventory">SUV</a></li>
        <li><a href="/inv/type/Truck" title="View our truck inventory">Truck</a></li>
    </ul>
</nav>