<h1>Welcome to CSE Motors!</h1>

<section class="hero">
    <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
    <div class="hero-text">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <a href="/inv/detail/1" title="Own a Delorean today">
            <img src="/images/site/own_today.png" alt="Own Today button">
        </a>
    </div>
</section>

<section class="reviews-upgrades">
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-grid">
            <a href="/upgrades/flux-cap" title="Flux Capacitor">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <p>Flux Capacitor</p>
            </a>
            <a href="/upgrades/flame" title="Flame Decals">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                <p>Flame Decals</p>
            </a>
            <a href="/upgrades/bumper-sticker" title="Bumper Stickers">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <p>Bumper Stickers</p>
            </a>
            <a href="/upgrades/hub-cap" title="Hub Caps">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <p>Hub Caps</p>
            </a>
        </div>
    </div>

    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>&ldquo;So fast it&rsquo;s almost like traveling in time.&rdquo; (4/5)</li>
            <li>&ldquo;Coolest ride on the road.&rdquo; (4/5)</li>
            <li>&ldquo;I&rsquo;m feeling McFly!&rdquo; (5/5)</li>
            <li>&ldquo;The most futuristic ride of our day.&rdquo; (4.5/5)</li>
            <li>&ldquo;80&rsquo;s livin and I love it!&rdquo; (5/5)</li>
        </ul>
    </div>
</section>