<h1>Welcome to the Cars Website!</h1>
<p>Check out our cars below.</p>

<section class="car-list">
    <article class="car">
        <h2>Toyota Camry</h2>
        <p>Reliable and efficient Sedan.</p>
    </article>
    <article>
        <h2>For Mustand</h2>
        <p>Classic American car.</p>
    </article>
</section>